	body {
	font-family: 'Trebuchet MS';
	font-style: normal;
	line-height: 24px;
}

fieldset {
    border: 2px solid #666;
    background: #FFF;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
}

fieldset legend {
    background: #666;
    color: #fff;
    padding: 2px 4px ;
    border-radius: 5px;
    margin-left: 10px;
}
p {
    text-indent: 50px;
}
pre.prettyprint {
border: solid #ccc 5px !important;
border-radius: 4px;
}
pre li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9 { background: none repeat scroll 0% 0% #fff !important; border-left: 2px solid #40ff00}
ol.linenums{
    counter-reset:linenumber;
}
ol.linenums li{
    list-style-type:none;
    counter-increment:linenumber;
}
ol.linenums li:before{
    content: counter(linenumber);
    float:left;
    margin-left:-4em;
    text-align:right;
    width:3em;
}







.txt_center{
text-align:center!important;
}