	body {
	font-family: 'Trebuchet MS';
	font-style: normal;
	line-height: 24px;
}

fieldset {
    border: 2px solid #666;
    background: #FFF;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
}

fieldset legend {
    background: #666;
    color: #fff;
    padding: 2px 4px ;
    border-radius: 5px;
    margin-left: 10px;
}
p {
    text-indent: 5px;
}
pre.prettyprint {
border: solid #ccc 5px !important;
border-radius: 4px;
}
pre li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9 { background: none repeat scroll 0% 0% #fff !important; border-left: 2px solid #40ff00}
ol.linenums{
    counter-reset:linenumber;
}
ol.linenums li{
    list-style-type:none;
    counter-increment:linenumber;
}
ol.linenums li:before{
    content: counter(linenumber);
    float:left;
    margin-left:-4em;
    text-align:right;
    width:3em;
}







.txt_center{
text-align:center!important;
}





/*1.1*/
blockquote{
		border-radius: 1px;
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 10px solid #bbb;
  border-right: 3px solid #bbb;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}